app = "citasalud-backend"

[build]
  # Use Fly's remote builder to build the Dockerfile on Fly's infrastructure during deploy
  builder = "pack"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
